@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Parisienne&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-text-color: #E2BF60;

}

* {
    font-family: "playfair display", "sans-serif";
}

html {
    scroll-behavior: smooth;
}

body,
.container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#seating-section {
    height: 100vh;
    width: 100%;
    background-image: url("../images/seatingmap.jpg");
    background-size: 55%;
    /* Adjust the width and height of the background image */
    background-position: 45% 31%;
    /* Adjust the position of the background image */
    background-repeat: no-repeat;

}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .8;
    }
}

#seating-section .back-button:hover {
    background-color: rgb(92, 92, 249);
    /* Change color to blue when hovered */
    transform: scale(1.1);
    /* Increase size when hovered */
}

#seating-section .button-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    border: none;
    position: absolute;
}

#seating-section .bt {
    height: 20px;
    width: 20px;
    opacity: .8;
}

/* Add more classes to position each button */
#seating-section .button-101 {
    top: 168%;
    left: 43%;

}

#seating-section .button-102 {
    top: 168.5%;
    left: 51.5%;
}

#seating-section .button-103 {
    top: 153%;
    left: 37.7%;
}

#seating-section .button-104 {
    top: 153%;
    left: 57%;
}

#seating-section .button-105 {
    top: 136%;
    left: 38.7%;
}

#seating-section .button-106 {
    top: 137%;
    left: 55.6%;
}

/*-------------------------------------------------------------------------------------------*/
#seating-section .button-200 {
    top: 184%;
    left: 47.4%;
}

#seating-section .button-201 {
    top: 179.7%;
    left: 36.5%;
}

#seating-section .button-202 {
    top: 180%;
    left: 58%;
}

#seating-section .button-203 {
    top: 161%;
    left: 29%;
}

#seating-section .button-204 {
    top: 162%;
    left: 66%;
}

#seating-section .button-205 {
    top: 142.4%;
    left: 29%;
}

#seating-section .button-206 {
    top: 142%;
    left: 66%;
}

/*----------------------------------------------------------------------------------------*/
#vip-section {
    height: 90%;
    width: 100%;
    position: relative;
    background: linear-gradient(to left, rgba(238, 196, 135, .5) 0%, rgba(243, 207, 154, .5) 3%, rgba(248, 216, 162, .5) 6%, rgba(243, 207, 154, .5) 6%, rgba(243, 207, 154, .5) 9%, rgba(241, 202, 136, .5) 12%, rgba(243, 207, 154, .5) 15%, rgba(244, 208, 158, .5) 17%, rgba(243, 207, 154, .5) 19%, rgba(243, 207, 154, .5) 21%, rgba(250, 221, 176, .5) 23%, rgba(250, 221, 176, .5) 25%, rgba(243, 207, 154, .5) 27%, rgba(238, 200, 138, .5) 29%, rgba(243, 207, 154, .5) 29%, rgba(243, 207, 154, .5) 32%, rgba(243, 207, 154, .5) 34%, rgba(243, 207, 154, .5) 37%, rgba(250, 221, 176, .5) 40%, rgba(250, 221, 176, .5) 43%, rgba(243, 207, 154, .5) 43%, rgba(243, 207, 154, .5) 44%, rgba(243, 207, 154, .5) 47%, rgba(238, 200, 138, .5) 49%, rgba(243, 207, 154, .5) 52%, rgba(250, 221, 176, .5) 54%, rgba(244, 208, 158, .5) 56%, rgba(243, 207, 154, .5) 59%, rgba(244, 208, 158, .5) 61%, rgba(250, 221, 176, .5) 64%, rgba(243, 207, 154, .5) 64%, rgba(244, 208, 158, .5) 66%, rgba(243, 207, 154, .5) 69%, rgba(248, 216, 162, .5) 71%, rgba(243, 207, 154, .5) 74%, rgba(243, 207, 154, .5) 76%, rgba(243, 207, 154, .5) 77%, rgba(243, 207, 154, .5) 80%, rgba(250, 221, 176, .5) 81%, rgba(243, 207, 154, .5) 83%, rgba(250, 221, 176, .5) 83%, rgba(250, 221, 176, .5) 85%, rgba(243, 207, 154, .5) 87%, rgba(250, 221, 176, .5) 89%, rgba(250, 221, 176, .5) 91%, rgba(243, 207, 154, .5) 92%, rgba(248, 216, 162, .5) 96%, rgba(243, 207, 154, .5) 97%, rgba(243, 207, 154, .5) 97%, rgba(243, 207, 154, .5) 98%, rgba(243, 207, 154, .5) 100%),
        linear-gradient(to right, rgba(238, 196, 135, .3) 0%, rgba(243, 207, 154, .3) 3%, rgba(248, 216, 162, .3) 6%, rgba(243, 207, 154, .3) 6%, rgba(243, 207, 154, .3) 9%, rgba(241, 202, 136, .3) 12%, rgba(243, 207, 154, .3) 15%, rgba(244, 208, 158, .3) 17%, rgba(243, 207, 154, .3) 19%, rgba(243, 207, 154, .3) 21%, rgba(250, 221, 176, .3) 23%, rgba(250, 221, 176, .3) 25%, rgba(243, 207, 154, .3) 27%, rgba(238, 200, 138, .3) 29%, rgba(243, 207, 154, .3) 29%, rgba(243, 207, 154, .3) 32%, rgba(243, 207, 154, .3) 34%, rgba(243, 207, 154, .3) 37%, rgba(250, 221, 176, .3) 40%, rgba(250, 221, 176, .3) 43%, rgba(243, 207, 154, .3) 43%, rgba(243, 207, 154, .3) 44%, rgba(243, 207, 154, .3) 47%, rgba(238, 200, 138, .3) 49%, rgba(243, 207, 154, .3) 52%, rgba(250, 221, 176, .3) 54%, rgba(244, 208, 158, .3) 56%, rgba(243, 207, 154, .3) 59%, rgba(244, 208, 158, .3) 61%, rgba(250, 221, 176, .3) 64%, rgba(243, 207, 154, .3) 64%, rgba(244, 208, 158, .3) 66%, rgba(243, 207, 154, .3) 69%, rgba(248, 216, 162, .3) 71%, rgba(243, 207, 154, .3) 74%, rgba(243, 207, 154, .3) 76%, rgba(243, 207, 154, .3) 77%, rgba(243, 207, 154, .3) 80%, rgba(250, 221, 176, .3) 81%, rgba(243, 207, 154, .3) 83%, rgba(250, 221, 176, .3) 83%, rgba(250, 221, 176, .3) 85%, rgba(243, 207, 154, .3) 87%, rgba(250, 221, 176, .3) 89%, rgba(250, 221, 176, .3) 91%, rgba(243, 207, 154, .3) 92%, rgba(248, 216, 162, .3) 96%, rgba(243, 207, 154, .3) 97%, rgba(243, 207, 154, .3) 97%, rgba(243, 207, 154, .3) 98%, rgba(243, 207, 154, .3) 100%),
        linear-gradient(to left, rgba(238, 196, 135, .3) 0%, rgba(243, 207, 154, .3) 3%, rgba(238, 200, 138, .3) 49%, rgba(243, 207, 154, .3) 52%, rgba(250, 221, 176, .3) 54%, rgba(244, 208, 158, .3) 56%, rgba(243, 207, 154, .2) 59%, rgba(244, 208, 158, .3) 61%, rgba(250, 221, 176, .3) 64%, rgba(243, 207, 154, .3) 64%, rgba(244, 208, 158, .3) 66%, rgba(243, 207, 154, .3) 69%, rgba(248, 216, 162, .3) 71%, rgba(243, 207, 154, .3) 74%, rgba(243, 207, 154, .3) 76%, rgba(243, 207, 154, .3) 77%, rgba(243, 207, 154, .3) 80%, rgba(250, 221, 176, .3) 81%, rgba(243, 207, 154, .3) 83%, rgba(250, 221, 176, .3) 83%, rgba(250, 221, 176, .3) 85%, rgba(243, 207, 154, .3) 87%, rgba(250, 221, 176, .3) 89%, rgba(250, 221, 176, .3) 91%, rgba(243, 207, 154, .3) 92%, rgba(248, 216, 162, .3) 96%, rgba(243, 207, 154, .3) 97%, rgba(243, 207, 154, .3) 97%, rgba(243, 207, 154, .3) 98%, rgba(243, 207, 154, .3) 100%);
    background-color: rgba(33, 22, 0, 1);
    background-size: 500px 20px, 300px 20px, 20px 820px;
    background-position: 50% 50%, 70% 70%, 30% 30%;
    z-index: 1;
}


#vip-section #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    z-index: 2;
    padding-bottom: 7%;
}

#vip-section .btn {
    height: 300px;
    width: 300px;
    font-size: 40px;
    padding: 14px 24px;
    border-radius: 20px;
    margin: 190px;
    margin-top: 686px;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Playball", "sans-serif";

}

#vip-section #vip-experience-btn {
    background-color: black;
    color: var(--primary-text-color);

}

#vip-section #meet-btn {
    background-color: black;
    color: var(--primary-text-color);
}

#vip-section .btn-black-gold:hover {
    background-color: white;
    color: black;
}

#vip-section #text-center {
    padding-top: 405px;

}


/* Style the scrollbar for the entire page */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #a3e4f7;
}

::-webkit-scrollbar-thumb {
    background-color: #fdfafa;
    border-radius: 6px;
}

/*---------------------------------------VIP Slide out----------------------------------------------------------------------------------*/

#vip-slide-out {
    position: fixed;
    top: 0;
    right: 0%;
    width: 50%;
    height: 100%;
    background-color: black;
    transition: right 0.5s ease;
    z-index: 1050;
    overflow-y: hidden;
    color: var(--primary-text-color);
    display: none;
    animation: slideIn 3s forwards;
    animation: slideOut 3s forwards;
}

#vip-slide-out img {
    display: flex;
    flex-direction: row;
    /* Change flex-direction to row */
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    max-width: 100%;
    height: auto;
    padding: 10px;
    width: 50%;

}

#vip-exit-button .fa-solid {
    font-size: 80px;
    color: var(--primary-text-color);
    background-color: black;

}

#exit-button-icon {
    position: relative;
}

#vip-exit-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
}

.vip-flex1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    padding-top: 10%;
}

ul li {

    font-size: 23px;
    text-align: center;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
}

.vip-drink-img {
    max-width: 10%;
    max-height: 10%;
    border-radius: 7%;
    margin: 0 auto;
}


#vip-slide-out p {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "playfiar display";
    padding-top: 5%;
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
}

#vip-slide-out h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    font-family: "playball";
    margin: 0;
}

.vip-h1 {
    margin-right: 20px;
    /* Adjust as needed */
}

/*----------------------------------------------------------meet and greet slide out------------------------------------------------------------*/

#meet-greet-slide-out {
    position: fixed;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: black;
    transition: right 0.5s ease;
    z-index: 1050;
    overflow-y: hidden;
    color: var(--primary-text-color);
    display: none;
    animation: slideIn 3s forwards;
    animation: slideOut 3s forwards;
}

#meet-greet-slide-out .fa-solid {
    transform: rotate(180deg);
    font-size: 80px;
    color: var(--primary-text-color);
    background-color: black;
}

#meet-greet-exit-button {
    background-color: black;
}

#meet-greet-slide-out p {
    font-size: 25px;
}

#meet-greet-slide-out h1 {
    font-size: 50px;
}

.meet-greet-img {
    max-width: 40%;
    max-height: 40%;
    border-radius: 7%;

}

.meet-greet-flex {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.meet-greet-img-flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0%;
}






/*----------------------------------------------------------------------------------------------------------------------------*/

#welcome-section {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to right top, #012f4e, #294b66, #49687f, #6b8799, #8fa7b4, #90adc2, #94b1d1, #9db5df, #a896d7, #c56eb4, #d63f76, #c82026);

}

.container-fluid #welcome-section h1 {
    padding-top: 5%;
}

.content {
    animation: appear 5s forwards;
}

.down-arrow {
    padding-top: 14.8%;
    font-size: 60px;
    animation: bounce infinite forwards 3s;
}

.container-fluid #welcome-section p {
    font-size: 20px;
}

.container-fluid #welcome-section .btn {
    font-size: 37px;
    margin-top: 10px;
    font-family: "Playfair Display", "sans-serif";
    font-style: normal;
    font-weight: 500;
}

.btn-flex-container {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    flex-wrap: wrap;
}

.welcome-btns {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    box-shadow: 0 0 60px 30px #fff;
    background-color: white;
    color: #1EC0DA;
    border: none;

}

.welcome-btns:hover {
    transform: scale(1.1);
    background-color: #7DABC2;
}


/*-------------------------------animations------------------------------------------------------------------*/
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.element {
    animation: bounce 1s infinite;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}



@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes slideInleft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutleft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}